extend basic
append head
    link(rel='stylesheet' href='/public/css/analitic.css')
    script(src='/public/js/Chart.js')
    script(src='/public/js/analitic.js')
    -var av = JSON.stringify(orders);
    script.
        var av = JSON.parse(("#{av}").replace(/&quot;/g, '"'));
        window.orders = {};
        window.orders.all = av;
append content
    .inf
        h3 Статистика
        .row
            //- p.all Всего заявок : #{orders.length}
            .typeSelect
                label Тип работ :
                select.form-control(onchange='changeMainType(this.value)')
                    option(value = '-1') Все
                    option(value = '0') Инсталяции
                    option(value = '1') Ремонт
                    
            .typeSelect
                label Начальная дата :
                input.form-control(type='date' onchange='changeMainDownDate(this.value)')
                    
            .typeSelect
                label Конечная дата :
                input.form-control(type='date' onchange='changeMainUpDate(this.value)')
                    
            .typeSelect
                label Сортировка :
                select.form-control(onchange='changeMainSort(this.value)')
                    option(value = '0')
                    option(value = '1') По 1-му вопросу
                    option(value = '2') По 2-му вопросу
                    option(value = '3') По 3-му вопросу
                    option(value = '4') По 4-му вопросу
                    
        .row
            br
            .mainChart
                canvas(id='mainChart' width="900" height="400")
        
            //- canvas(id='sameChart' width="600" height="400")    
            //- button.btn.btn-success.link(onclick='location="/orders?filter=comment"') Показать заявки с коментариями
            
