doctype
html
    head
        block title
            title СМОК v#{appVersion}
        block head
            meta(name='viewport' content='width=device-width, initial-scale=1')
            link(rel='stylesheet' href='/public/css/bootstrap.min.css')
            link(rel='stylesheet' href='/public/css/notyf.min.css')
            link(rel='stylesheet' href='/public/css/basic.css')
            script(src='/public/js/jquery-3.2.0.min.js')
            script(src='/public/js/notyf.min.js')
    body
        header
            block header
                if(__user)
                    nav
                        ul.menu
                            if(__user.role != 0)
                                li: a(href='/' tabindex='990')
                                    span Мои заявки
                            if(__user.role == 2)
                                li: a(href='/init' tabindex='991')
                                    span Создать заявку
                            if(__user.role == 0)
                                li: a(href='/admin/users' tabindex='991') Пользователи
                                li: a(href='/admin/exec' tabindex='992') Исполнители
                                li: a(href='/admin/managers' tabindex='993') Бригадиры
                                li: a(href='/admin/cities' tabindex='994') Города
                                
                            li: a(href='/analitic' tabindex='995') Статистика
                            li: a(href='/search' tabindex='996') Поиск заявок
                            li.profile: a(href='/profile' tabindex='998')= __user.fullName + ' (' + __user.login + ')'
                            li.exit: a(href='/logout' tabindex='999') Выйти
        div
            block content
        footer
            //- .developBy
            //-     p Разработано в 
            //-         a(href='http://www.miranda-media.ru/') Miranda-Media 
            //-         | в 2017
