doctype
html
    head
        block title
            title Система мониторинга отзывов клиентов
        block head
            link(rel='stylesheet' href='/public/css/bootstrap.min.css')
            link(rel='stylesheet' href='/public/css/basic.css')
            script(src='/public/js/jquery-3.2.0.min.js')
    body
        header
            block header
                if(user)
                    nav
                        ul.menu
                            li: a(href='/') Главная страница
                            if(user.role == 0)
                                li: a(href='/admin/users') Пользователи
                            li: a(href='/info') Статистика
                            li.profile: a(href='/profile') Мой профиль
                            li.exit: a(href='/logout') Выйти
        div
            block content
        footer
