doctype
html
    head
        block title
            title СМОК v#{appVersion}
        block head
            meta(name='viewport' content='width=device-width, initial-scale=1')
            link(rel='stylesheet' href='/public/css/bootstrap.min.css')
            link(rel='stylesheet' href='/public/css/notyf.min.css')
            link(rel='stylesheet' href='/public/css/basic.css')
            script(src='/public/js/jquery-3.2.0.min.js')
            script(src='/public/js/notyf.min.js')
    body
        header
            block header
                if(__user)
                    nav
                        ul.menu
                            li: a(href='/' tabindex='990') 
                                span Главная страница
                            if(__user.role == 0)
                                li: a(href='/admin/users' tabindex='991') Пользователи
                                li: a(href='/admin/exec' tabindex='992') Исполнители
                                li: a(href='/admin/managers' tabindex='993') Бригадиры
                                
                            li: a(href='/analitic' tabindex='994') Статистика
                            li: a(href='/orders?filter=my' tabindex='995') Мои заявки
                            li.profile: a(href='/profile' tabindex='996')= __user.fullName + ' (' + __user.login + ')'
                            li.exit: a(href='/logout' tabindex='997') Выйти
        div
            block content
        footer
            .developBy
                p Разработано в 
                    a(href='http://www.miranda-media.ru/') Miranda-Media 
                    | в 2017
