extend basic
append head
    link(rel='stylesheet' href='/public/css/order.css')
    script(src='/public/js/order.js')
block append content
    .__block
        if(__user.role == 2)
            include init.pug
