h2 Отзыв клиента
hr
form.form-horizontal
    ul.list-group
        li.list-group-item
            .form-group
                label.control-label.col-sm-3 Тип проведенных работ
                .col-sm-6
                    select.form-control(onChange='changeType(this.value)' required disabled)
                        option(value='0' selected) Инсталяция
                        option(value='1' ) Ремонт
        li.list-group-item
            .form-group
                label.control-label.col-sm-3 Дата выезда
                .col-sm-2
                    input.form-control(type='date' required disabled)
        li.list-group-item
            .form-group
                label.control-label.col-sm-3 Ф.И.О. абонента
                .col-sm-6
                    input.form-control(type='text' required disabled)
        li.list-group-item
            .form-group
                label.control-label.col-sm-3 Номер телефона абонента
                .col-sm-3
                    input.form-control(type='text' required disabled)
        li.list-group-item
            .form-group
                label.control-label.col-sm-3 Адрес
                .col-sm-6
                    input.form-control(type='text' required disabled)
        li.list-group-item
            .form-group
                label.control-label.col-sm-3 Ф.И.О. подрядчика
                .col-sm-6
                    input.form-control(type='text' disabled)
        li.list-group-item
            .form-group
                label.control-label.col-sm-3 Ф.И.О. исполнителя
                .col-sm-6
                    input.form-control(type='text' disabled)
                        
        if(order.type == '0')
            li.list-group-item.repairs
                .form-group
                    label.control-label.col-sm-3 Номер ТТ
                    .col-sm-6
                        input.form-control(type='text' disabled)
            li.list-group-item.repairs
                .form-group
                    label.control-label.col-sm-3 Тема ТТ
                    .col-sm-6
                        input.form-control(type='text' disabled)
        else                
            li.list-group-item.install
                .form-group
                    label.control-label.col-sm-3 Лицевой счет
                    .col-sm-3
                        input.form-control(type='text' disabled)
