body {
    min-width: 900px;
  }
  
  .execs {
    margin-left: 20px;
  
    width: 750px;
  }
  
  .exec {
    display: flex;
  
    margin: 30px 0;
  }
  
  .exec .exec__select {
    display: none;
  }
  
  .exec .exec__text {
    display: block;  
  }
  
  .exec_edited .exec__select {
    display: block;  
  }
  
  .exec_edited .exec__text {
    display: none;
  }
  
  .exec .exec__edit {
    display: block;
  }
  
  .exec .exec__delete {
    display: block;
  }
  
  .exec .exec__cancel {
    display: none;
  }
  
  .exec .exec__save {
    display: none;
  }
  
  .exec_edited .exec__edit {
    display: none;
  }
  
  .exec_edited .exec__delete {
    display: none;
  }
  .exec_edited .exec__cancel {
    display: block;
  }
  
  .exec_edited .exec__save {
    display: block;
  }
  
  .exec__select * {
    height: 30px;
    width: auto;
    display: inline-block;
  }
  
  .exec__select input {
    width: 300px;
    margin-right: 30px;
  }
  
  .exec__action {
    display: flex;
  
    flex: 0 1 100px;
  }
  
  .exec__action > * {
    cursor: pointer;
  }
  
  .exec__action > *:hover img {
    transform: scale(1.5);
  }
  
  .exec__edit img, .exec__delete img {
    transition: 0.3s all;
    opacity: 0;
  }
  
  .exec:hover .exec__edit img, .exec:hover .exec__delete img {
    opacity: 1;
  }
  
  .exec__name {
    flex: 1 1 auto;
  }
  
  .exec__action > * {
    margin: 0 20px;
  }