.my-form .row:nth-child(n+1)
{
    background-color: #e8f3fa;
}

.my-form .row-name, .my-form .row-field
{
    display: inline-block;
}

.my-form .row:nth-child(2n)
{
    background-color: white;
}

.repairs_hide, .install_hide
{
    display: none;
}

.repairs, .install
{
    display: block;
}

.order-alert
{
    text-align: center;
    font-weight: bold;
}
.subm
{
    display: block;
    width: 300px;
    margin: 3em auto;
    font-size: 14pt;
}

.small
{
    width: 100px;
    display: inline-block;
    margin-right: 2em;
}

.cant
{
    display: inline-block;
}

tr
{
    cursor: pointer;
}

.title-order
{
    font-size: 24pt;
    font-weight: 400;
    display: inline-block;
}

.delete
{
    display: inline-block;
    position: relative;
    top: -8px;
    left: 580px;
}

.cant label {
    margin-left: 0.5em;
    font-weight: normal;
}

.invis {
    visibility: hidden;
}
.order_success {
    background-color: #CBF7AF;
}
.order_success:hover td {
    background-color: #CBF7dF;
}

.order_not_answers {
    background-color: #FFE4E1;
}
.order_not_answers:hover td{
    background-color: #FFD4E1;
}

.search-form
{
    font-family: sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 0.7em;
    margin: 20px auto;
    padding: 1em 1em 1em 1em;
    width: 970px;
}

.search-form__row
{
    display: flex;
    line-height: 35px;
    margin-bottom: 8px;
}

.search-form__row-name
{
    margin-left: 1em;
    width: 300px;
    margin-right: 1em;
}

.search-form__row .btn
{
    margin-left: 1em;
    width: 915px;
}

.search_title
{
    margin-left: 1em;
}

.search-field
{
    width: 600px;
}

.tabname
{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.found
{
    position: fixed;
    font-size: 14pt;
    left: 3em;
    bottom: 30px;
    z-index: 100
}

.empty-elemnt
{
    margin-bottom: 5em;
}

.pagination
{
    cursor: pointer;
}

.export
{
    position: fixed;
    left: 4em;
    bottom: 16px;
    z-index: 100
}

.search-id
{
    display: inline-block;
    width: 150px;
    margin-left: 2em;
    margin-right: 4.1em;

}

.search-date
{
    display: inline-block;
    width: 130px;
}

.search-date:first-of-type
{
    margin-right: 5em;
}

.search-form__row-first
{
    width: 100%;
    margin-left: 1em;
}

.search-form__cell
{
    display: inline-block;
    margin-right: 4em;
}

.search-form__cell:last-child
{
    margin: 0;
}

.search-form__cell span
{
    margin-right: 1em;
}

.pagers
{
    background-color: #fff;
    text-align: center;
    border-top: 1px solid #ddd;
    z-index: 99;
    position: fixed;
    width: 100%;
    min-width: 1000px;
    bottom: 0;
}

.item td
{
    padding: 0 !important;
}

.item a
{
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px;
}

.my-wrap
{
    width: 1000px;
    margin: 0 auto;
}

.order-content
{
    width: 900px;
    margin: 0 auto;
}

.row
{
    border: 1px solid #ddd;
    border-top: none;
    padding-top: 5px;
    padding-bottom: 5px;

}

.row:first-child
{
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-top: 1px solid #ddd;
}

.row:last-child
{
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom: 1px solid #ddd;
}

.row-name
{
    width: 50%;
    padding-left: 2em;
    vertical-align: middle;

}

.row-field
{
    width: 50%;
    padding-right: 2em;
    vertical-align: middle;
}

.order-part
{
    margin-bottom: 2em;
}
