.blocked {
    color: orange;
    margin-left: 0.5em;
}
.addUser {
	margin: 0 0 1em 1em;
}
.addUser:hover .plus {
	transform: rotateZ(360deg);
}
.plus {
	margin-right: 0.5em;
	transition: 0.5s all;
}
.block {
	margin-left: 10.5em;
}
.delete {
	margin-left: 1em;
}
form {
	min-width: 500px;
	max-width: 500px;
}
._block {
    margin-bottom: 3em;
}
