extend ../basic
append head
    link(rel='stylesheet' href='/public/css/order.css')
    link(rel='stylesheet' href='/public/css/jquery-ui.css')
    script(src='/public/js/jquery-ui.min.js')
    script(src='/public/js/order.js')
    block title
        title СМОК | Инициация заявки
append content
    .__block
        if(success) 
            script.
                var notyf = new Notyf();
                notyf.confirm('Заявка была успешно инициализирована!');
        
        h2 Инициализация заявки
        hr
        form.form-horizontal(method='POST' action='/init')
            ul.list-group
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3 Тип проведенных работ
                        .col-sm-6
                            select.form-control(onChange='changeType(this.value)' name='type' required)
                                option(value='0' selected) Инсталляция
                                option(value='1' ) Ремонт
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3 Дата выезда
                        .col-sm-6
                            input.form-control.dateWork(type='date' name='date' placeholder='дд.мм.гггг' required)
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3 Ф.И.О. абонента
                        .col-sm-6
                            input.form-control(type='text' name='nameAbon' required)
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3 Номер телефона абонента
                        .col-sm-6
                            input.form-control(type='text' name='phone' placeholder='+79788477459' required)
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3 Адрес
                        .col-sm-6
                            input.form-control(type='text' name='adress' required)
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3 Ф.И.О. автора
                        .col-sm-6
                            input.form-control.inpt(type='text' name='nameAuthor' value=__user.fullName disabled required)
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3 Ф.И.О иполнителей
                        .col-sm-6
                            if(__user.city)
                                select.form-control.inpt(name='mainExec' required)
                                    option
                                        each exec in execs
                                            if(exec.manager.city == __user.city.toString())
                                                option(value=exec._id)= exec.name
                            else
                                label Попросите администратора привязать город к Вашей учетной записи!
                li.list-group-item
                    .form-group
                        label.control-label.col-sm-3
                        .col-sm-6
                            if(__user.city)
                                select.form-control.inpt(name='subExec')
                                    option
                                    each exec in execs
                                        if(exec.manager.city == __user.city.toString())
                                            option(value=exec._id)= exec.name
                            else
                                label Попросите администратора привязать город к Вашей учетной записи!
                li.list-group-item.repairs_hide
                    .form-group
                        label.control-label.col-sm-3 Номер ТТ
                        .col-sm-6
                            input.form-control(type='text' name='numberTT')
                li.list-group-item.repairs_hide
                    .form-group
                        label.control-label.col-sm-3 Тема ТТ
                        .col-sm-6
                            input.form-control(type='text' name='themeTT')
                                
                li.list-group-item.install
                    .form-group
                        label.control-label.col-sm-3 Лицевой счет
                        .col-sm-6
                            input.form-control(type='text' name='personalAcc')
                button.btn.btn-success.col-sm-offset-5.col-sm-3.subm(type='submit') Создать
